{% extends 'base.html' %}

{% block content %}
<main class="main">
    <h1>Atualizar um Anime</h1>
    {% if error %}
        <span style="color: rgb(136, 21, 21)"> {{error}} </span>
    {% endif %}
    <div class="form">
        <form action="{{url_for('updateAnime')}}" method="POST" class="form">
            <label for="anime">Escolha um anime para Atualizar:</label>
            <select id="anime" name="anime_id">
                {% for anime in animes %}
                    <option value="{{ anime.id }}">{{ anime.nome }}</option>
                {% endfor %}
            </select>
            <label>Nome do Anime: </label>
            <input type="text" name="nome">
            <label>Ano do Anime: </label>
            <input type="year" name="ano">
            <input type="submit" value="Atualizar um Anime" class="updateLink">
        </form>
        <a href="/" class="submit" style="text-align: center; text-decoration: none;">Voltar</a>
    </div>
    

</main>


{% endblock content %}